<h1>Welcome to the To Do App</h1>

<p>
  Here are all of your Tasks
</p>

<% @tasks.not_done().each() do |task| %>
    <li><%= task.description %> <a href="/tasks/<%= task.id() %>/edit">Update this task's description</a></li>
  <% end %>

<p>
  Create a new task:
</p>


<form action="/tasks" method="post">
  <label for="description">Description of the task:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add task</button>
</form>


<div class="container">

  <a href="/lists/new">Add New List and view existing lists</a>
</div>
